<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Web Tests" verbose="1" parallel="tests" thread-count="1" configfailurepolicy="continue">

    <listeners>
        <listener class-name="com.selenium.listeners.Transformer" />
    </listeners>

    <test name="Web App Login Tests" annotations="JDK" preserve-order="true">
        <classes>
            <!--<class name="com.selenium.testcases.RunModeTesting"/>-->
            <class name="com.selenium.testcases.MainPageTests"/>
        </classes>
    </test>
</suite>